<section id="conquista-aluno" class="container">
  <div class="header">
    <h1>Aulas Assistidas</h1>
    <div class="nota">
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
      <span><i class="far fa-star"></i></span>
    </div>
  </div>
  <div class="conquistas-div-interna">
    <ul class="conquistas-div-interna-ul">

      <% for( let aula of aulasAssistidas) { %>
      
      <li>
        <span class="icone"><i class="fas fa-award"></i></span>
        <%=aula.titulo_aula%> - Prof. <%=aula.perfil_professor.nome%> - <%=aula.qnt_moedas%> Moedas - <%=aula.duracao_minutos%>
        minutos
      </li>

      <% } %>

    </ul>
    
  </div>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</section>