<section id="ranking-professor" class="container">
  <div class="header">
    <h1>Ranking de professor nos últimos 30 dias</h1>
  </div>
  <div class="ranking-div-interna">
    <ul class="ranking-div-interna-ul">

      <% for( let pos = 0; pos < ranking.length; pos++ ) { %>

        <li>
          <img src="/img/profile-img/<%=ranking[pos].avatar%>" class="rounded-circle" alt="avatar">
          <span class="icone"><i class="fas fa-award"></i></span>
          <%=pos+1%>° <%=ranking[pos].nome%> - Ensinou: <%=ranking[pos].minutos_ensino%> minutos
        </li>
      
      <% } %>

    </ul>
  </div>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  <div class="btn-ranking">
    <button class="btn-3-l" onclick="location.href='/users/ranking-alunos'">Ranking Alunos</button>
  </div>
</section>