<!-- Modal -->
<div class="modal fade" id="modalInteresses-ensino" tabindex="-1" role="dialog" aria-labelledby="modalInteresses"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalInteressesTitulo">Selecione seus interesses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal-interesse-en">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <input type="hidden" name="tipo" value="ensino">
          <input list="interesses-list" name="input-interesse" id="input-interesse-en"
            class="custom-select custom-select-lg mb-3" placeholder="#javascript">
          <datalist id="interesses-list">
            <% for( let interesse of interesses) { %>
            <option value="<%=interesse.descricao%> ">
            <% } %>
          </datalist>

          <div style="margin: 1vh 0;">
            <ul id="sessao-interesses-en" style="margin: 0; padding: 0;">
              <% for( let intere_ of interesses_ensino) { %>
              <li class="item-list-interesse"><%=intere_.descricao%></li>
              <% } %>
            </ul>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-2-d" id="adicionar_interesse_en">Adicionar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalInteresses-aprendizado" tabindex="-1" role="dialog" aria-labelledby="modalInteresses"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalInteressesTitulo">Selecione seus interesses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal-interesse-ap">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form action="">
          <input type="hidden" name="tipo" value="ensino">
          <input list="interesses-list" name="input-interesse" id="input-interesse-ap"
            class="custom-select custom-select-lg mb-3" placeholder="#javascript">
          <datalist id="interesses-list">
            <% for( let interesse of interesses) { %>
              <option value="<%=interesse.descricao%> ">
            <% } %>
          </datalist>
        </form>
        <div style="margin: 1vh 0;">
          <ul id="sessao-interesses-ap" style="margin: 0; padding: 0;">
            <% for( let inter of interesses_aprendizado) { %>
            <li class="item-list-interesse"><%=inter.descricao%></li>
            <% } %>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-2-d" id="adicionar_interesse_ap">Adicionar</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/fetch-interesses.js"></script>